/* ===================== Eric Meyer's CSS Reset ===================== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ================================== My Work ==================================*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #202023;
    color: white;
}

h1 {
    font-size: 30px;
}

p {
    margin-top: 30px;
}

.container {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.navbar {
    background-color: #191b1d;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    margin: auto auto 40px;
    /* width: 100%; */
    /* position: fixed; */
}

.navbar * {
    margin: auto 0px
}


.logo {
    margin: auto auto auto 10px;
}

.logo img {
    max-width: 150px;
    height: auto;
}

.main-button {
    background-color: #00BF63;
    margin: auto 25px auto auto;
    color: white;
    font-weight: 500;
    font-size: 25px;
    padding: 20px 20px;
    border-radius: 5px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.search-bar {
    width: 100%;
    max-width: 700px;
    background-color: #0a0b0c;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}

.search-bar input {
    background: transparent;
    margin-left: 10px;
    outline: none;
    flex: 1;
    border: 0;
    font-size: 20px;
    color: white;
}

.search-bar button {
    background-color: transparent;
    border: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.button {
    background-color: #00BF63;
    padding: 10px 10px;
    border-radius: 5px;
    margin-top: 20px;
}

label {
    display: block;
    font-size: 20px;
    margin: 30px 0px 10px 0px;
}


.input-box {
    background-color: #0a0b0c;
    border-radius: 5px;
    border-color: black;
    color: white;
    width: 100%;
    display: block;
    margin-bottom: 30px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

input.input-box {
    height: 25px;
}

.button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 5px 10px;
    background-color: #00BF63;
    border-color: #00BF63;
    border-radius: 5px;
    color: white;

    cursor: pointer;
}

form {
    width: 100%;
}

table {
    background-color: #2b2b2b;
    border-radius: 10px;
}

td {
    font-size: 20px;
    padding: 10px;
    max-width: 1000px;
    max-height: 10px;
}

.todos {
    width: 100%;
    border-radius: 10px;
    background-color: #2b2b2b;
    margin: 30px 0;
}

.todo-item {
    display: flex;
    flex: 1;

    column-gap: 20px;
    font-size: 20px;
    padding: 0 15px;
    border-bottom: 1px solid grey;
    /* border-bottom: 1px solid #5b5a5a; */
    /* justify-content: space-between; */
    /* max-width: 1000px; */
    /* max-height: 10px; */
}

.todo-item:last-child {
    border: 0;
}

.todo-link {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding: 15px 0;
}

.todo-title {
    margin: auto auto auto 0;
}

.todo-link * {
    padding-right: 20px;
}

.see-more {
    font-size: 16px;
    margin: auto 0;
}

.see-more::before {
    font-family: "Font Awesome 5 Free";
    content: "\f06e";
    margin-right: 10px;
}

.todo-item input:checked+.todo-link .todo-title {
    text-decoration: line-through;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #4c4c4c;
    height: 20px;
    width: 20px;
    border-radius: 2px;
    cursor: pointer;
    display: grid;
    place-items: center;
    margin: auto;
}

input[type="checkbox"]::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    /* font-size: 50px; */
    color: white;
    display: none;
    font-size: 18px;
}

input[type="checkbox"]:checked::after {
    display: block;
}

input[type="checkbox"]:hover {
    background-color: grey;
}

input[type="checkbox"]:checked {
    background-color: #00BF63;
}

input[type="checkbox"]:checked:hover {
    background-color: #00e476;
}

.todo-date {
    color: grey;
    font-size: 16px;
    font-weight: 100;
    margin: auto 0;
}

/* .todo-desc {
    max-height: 20px;
    text-wrap:;
}
*/